@if (loading) {
  <app-loader></app-loader>
}
<h1>Movies</h1>
<button mat-raised-button color="accent" (click)="openCreateMovieDialog()">Create</button>
<br><br>
<div class="table-container">
  <table>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Actions</th>
    </tr>
    @for (movie of movies; track $index) {
      <tr>
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.genreName }}</td>
        <td>
          <button mat-button color="primary" (click)="openMovieDialog(movie.id)">View</button>
          <button mat-button color="accent" (click)="openEditMovieDialog(movie.id)">Edit</button>
          <button mat-button color="warn" (click)="openDeleteDialog(movie)">Delete</button>
        </td>
      </tr>
    }
  </table>
</div>
