.footer {
  display: flex;
  height: 160px;
  background-color: var(--primary-background-color);
  justify-content: center;
  align-items: end;
  bottom: 0;
}

.copyright {
  background-color: black;
  width: 100%;
}

.copyright p {
  text-align: center;
}
