mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.block {
  height: 64px;
}

a:hover {
  color: var(--palette-color-primary);
}
