<mat-toolbar>
  @if (isLoggedIn) {
    <div class="hamburger" (click)="toggleHamburger()">☰</div>
  }
  <div style="margin: 16px;">
    <a href="/"><span class="page-title">Home</span></a>
  </div>
  <ul [hidden]="hideMenu">
    @if (isLoggedIn) {
      <li>
        <a [routerLink]="['/movies']" (click)="closeMenu()">Movies</a>
      </li>
      <li>
        <a [routerLink]="['/book']" (click)="closeMenu()">Reservations</a>
      </li>
      @if (userRoles.includes('ROLE_ADMIN')) {
        <li>
          <a [routerLink]="['/admin/users']" (click)="closeMenu()">Users</a>
        </li>
      }
      @if (userRoles.includes('ROLE_ADMIN')) {
        <li>
          <a [routerLink]="['/admin/reports']" (click)="closeMenu()">Reports</a>
        </li>
      }
    }
  </ul>
  <div style="position: absolute; right: 0; display: flex; align-items: center">
    @if (isLoggedIn) {
      <div class="username">
        <p>{{ user }}</p>
      </div>
      <a (click)="logout()">
        <button mat-stroked-button color="warn"><b>Logout</b></button>
      </a>
    } @else {
      <a [routerLink]="['/login']">
        <button mat-stroked-button color="primary"><b>Sign in</b></button>
      </a>
    }
  </div>
</mat-toolbar>
<div class="block"></div>
