<h1 mat-dialog-title>Showtimes</h1>
<mat-dialog-content>

  <div class="table-container">
    <table>
      <tr>
        <th>Date Start</th>
        <th>Date End</th>
        <th>Theater #</th>
        <th>Actions</th>
      </tr>
      @for (showtime of data.showtimes; track $index) {
        <tr>
          <td>{{ showtime.dateStart | date: 'YYYY-MM-dd HH:mm:ss' }}</td>
          <td>{{ showtime.dateEnd | date: 'YYYY-MM-dd HH:mm:ss' }}</td>
          <td>{{ showtime.theaterNumber }}</td>
          <td>
            @if (!showtime.hasBooks) {
              <button mat-stroked-button color="warn" (click)="openDeleteDialog(showtime)">Delete</button>
            } @else {
              <button mat-stroked-button disabled color="warn">Delete</button>
            }
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4">There are no items.</td>
        </tr>
      }
      <tr>
        <td colspan="4">
          <button mat-button color="primary" (click)="openAddShowtimeDialog()">Add new Showtime</button>
        </td>
      </tr>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onConfirm()">
    Accept
  </button>
</mat-dialog-actions>
